JWT_SECRET_KEY=my_super_secret_key_12345!
DB_HOST=db
DB_USER=hypertube_user
DB_PASS=password
DB_NAME=hypertube
DB_PORT=5432
EMAIL_USER=<your_email>
CLIENT_ID=<your_client_id>
CLIENT_SECRET=<your_client_secret>
PORT=5001